In [ ]:
print ("Henri")
print ("Number is",55)

Henri
Number is 55

In [ ]:
name = input("enter a name: ")
city = input("enter a city: ")
print("Hello",name,"from",city)

enter a name: Henri
enter a city: London
Hello Henri from London

In [ ]:
x = 10
print(x*3)

30

Exercise:
As the user to enter their name, tel number and city.

Print in the following form:

Henri is from London, tel is 999999999

In [ ]:
name = input("enter your name: ")
city = input("enter your city: ")
tel = input("enter your tel number")
print(name,"from",city, "tel is", tel)

enter your name: Henri
enter your city: London
enter your tel number99999999
Henri from London tel is 99999999

In [ ]:
print("Henri "*3)

Henri Henri Henri

In [ ]:
age = int(input("How old are you? "))
print (age*4)

How old are you? 20
80

In [ ]:
number1 = float(input("Give me a number "))
number2 = float(input("Give me another number "))

print (number1 / number2)

Give me a number 4
Give me another number -2
-2.0

In [ ]:

x = float(input("Enter a number "))
y = float(input("Enter another number "))

if x>y:
  print ("Max is ",x)
else:
  print ("Max is ",y)

Enter a number 3
Enter another number 3
Max is  3.0

In [ ]:
x = int(input("enter a number: "))

if x>0:
  print("Positive")
elif x==0:
  print("Zero")
else:
  print("Negative")

enter a number: 3
Positive

In [ ]:
x = float(input("enter your university score: "))

if x>=0 and x<10:
  print("You fail")
elif x >= 10 and x < 15:
  print("You pass")
elif x >= 15 and x <= 20:
  print("Distinction")
else:
  print("Error")

enter your university score: 19.5
Distinction